<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <listeners>
        <listener class-name="com.epam.maf.listener.TestListener"/>
    </listeners>

    <test name="Selenium UI Tests" parallel="methods">
        <classes>
            <class name="com.epam.maf.runner.TestRunner"/>
        </classes>
    </test>
</suite>